.fabfw-select-address-container {
    .form-row {
        label {
            cursor: pointer;
            
            &:not(.radio) {
                display: none;
            }
        }
        
        .input-radio {
            display: none;
        }

        .radio {
            padding: 1em;
            border: 2px solid #eee;
            line-height: inherit;
            font-weight: inherit;

            &[for=fabfw_address_billing_id_new],
            &[for=fabfw_address_shipping_id_new] {
                padding: 0;
                border: 0;
            }
        }
        
        .fabfw-edit {
            margin-top: 1em;
            display: none;
        }

        :checked + .radio {
            border-color: $red;
            
            .fabfw-edit {
                display: inline-block;
            }
        }
    }
}

.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper {
    &.hidden {
        display: none;
    }
}