.fabfw-addresses-container .fabfw-delete-link {
  margin-left: 1em;
  color: #a00;
}

.fabfw-addresses-container .fabfw-delete-link:hover, .fabfw-addresses-container .fabfw-delete-link:focus {
  color: #770000;
}

.fabfw-select-address-container .form-row label:not(.radio) {
  display: none;
}

.fabfw-select-address-container .form-row .input-radio {
  display: none;
}

.fabfw-select-address-container .form-row :checked + .radio {
  border-color: #a00;
}

.fabfw-select-address-container .form-row .radio {
  padding: 1em;
  border: 2px solid #eee;
  line-height: inherit;
  font-weight: inherit;
}

.fabfw-select-address-container .form-row .radio[for=fabfw_address_billing_id_new], .fabfw-select-address-container .form-row .radio[for=fabfw_address_shipping_id_new] {
  padding: 0;
  border: 0;
}
